<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple MVC</title>
    <link rel="stylesheet" href="/styles/body.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/register">Register</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <li>
                <a href="/features">Features</a>
            </li>
            <li>
                <a href="/form">Form example</a>
            </li>
            <li>
                <a href="https://github.com/gitnjole/simple-mvc" target="_blank">Github</a>
            </li>
        </ul>
    </div>

    <div class="outer-container">
        {{content}}
    </div>
</body>
</html>