<?php use app\core\Application; ?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple MVC</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/styles/body.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <?php if (Application::isGuest()): ?>
            <li>
                <a href="/register">Register</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            <?php else: ?>
            <li>
                <a href="/logout">Log out</a>
            </li>
            <?php endif; ?>
            <li>
                <a href="/features">Features</a>
            </li>
            <li>
                <a href="/form">Form example</a>
            </li>
            <li>
                <a href="https://github.com/gitnjole/simple-mvc" target="_blank">Github</a>
            </li>
        </ul>
    </div>

    <div class="outer-container">
        <?php if (Application::$app->session->getFlashMessage('success')): ?>
        <div class="alert-success">
            <?= Application::$app->session->getFlashMessage('success') ?>
        </div>
        <?php endif; ?>
        {{content}}
    </div>
</body>
</html>